streamlit==1.32.0  # Versión estable probada
pandas==2.1.4
openpyxl==3.1.2  # Necesario para leer Excel
altair==5.2.0
requests==2.31.0
python-dotenv==1.0.0
streamlit-autorefresh==0.3.1
numpy==1.26.2  # Dependencia implícita necesaria
